html, body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    background-color: #212121;
}

::selection{
    background-color: transparent;
    color: white;
}

h1{
    text-align: center;
    cursor: pointer;
    color: whitesmoke;
    font-size: 52px;
    padding-top: 20%;
}